@media (max-width: 1580px) {
  .feedback__img {
    left: 14%;
  }
  .services__links_link img {
    margin-top: -16px;
  }
  .services__links_link:hover img {
    margin-top: -190px;
  }
  .services__links_link:hover p {
    margin-top: -45px;
  }
}

@media (max-width: 1350px) {
  .header__row {
    padding: 15px 42px 15px 46px;
  }
  .header-menu {
    right: 44px;
  }
  .menu__list {
    right: 105px;
  }
  .about__slider .slide__title {
    font-size: 84px;
    line-height: 84px;
    width: 588px;
    margin: 101px auto 29px;
  }
  .about__slider .slide__text {
    font-size: 18px;
    line-height: 20px;
    width: 587px;
  }
  .about__slider .swiper-button-prev::after,
  .about__slider .swiper-button-next::after {
    width: 56px;
    height: 56px;
  }
  .about__slider .swiper-button-next,
  .about__slider .swiper-button-prev {
    right: 15px;
  }
  .about__slider .swiper-pagination-bullet {
    background-color: #2b4074;
  }
  .about__slider .swiper-pagination-bullet-active {
    border-color: #fff9;
    background-color: transparent;
  }
  .feedback__text {
    margin: 40px 0;
  }
  .feedback__text h1 {
    font-size: 18px;
    line-height: 18px;
  }
  .feedback__text p {
    width: 450px;
    font-size: 14px;
    line-height: 16px;
  }
  .feedback__img {
    left: 12%;
    bottom: 15%;
    width: 20%;
    height: 60%;
  }
  .services__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__text {
    width: 100%;
  }
  .services__text_title {
    text-align: center;
  }
  .services__text_subtext {
    white-space: nowrap;
    max-width: 100%;
  }
  .services__text_subtext::after {
    width: 110px;
  }
  .services__text_subtext2 {
    width: 610px;
    margin-bottom: 28px;
  }
  .services__links {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .header__row {
    padding: 15px 44px 15px 61px;
  }
  .header-menu {
    right: 41px;
  }
  .menu__list {
    right: 90px;
  }
  .menu__list a {
    font-size: 16px;
  }
  .menu__list a + a {
    margin-left: 0px;
  }
  .about__slider .slide__title {
    font-size: 60px;
    line-height: 60px;
    width: 550px;
    margin: 87px auto 25px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 204px;
  }
  .feedback__text {
    margin: 20px 0;
  }
  .feedback__text h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .feedback__text p {
    width: 400px;
    font-size: 16px;
    line-height: 18px;
  }
  .links__row1,
  .links__row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__text_subtext2 {
    width: 678px;
    margin-bottom: 28px;
  }
  .services__links_link {
    max-width: 37.5%;
  }
  .services__links_link:hover {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .header__row {
    padding: 15px 53px 15px 61px;
  }
  .header-menu {
    right: 30px;
  }
  .menu__list {
    right: 77px;
  }
  .about__slider .slide__title {
    margin: 50px auto 45px;
  }
  .about__slider .slide__text {
    display: none;
  }
  .feedback__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback__text {
    margin: 40px 0;
    text-align: center;
  }
  .feedback__text p {
    width: 560px;
  }
  .feedback__text br {
    display: none;
  }
  .feedback__btn {
    margin-bottom: 40px;
  }
  .services__text {
    padding-left: 0px;
  }
  .services__text_subtext {
    white-space: normal;
    text-align: center;
    max-width: 100%;
  }
  .services__text_subtext::after {
    width: 110px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .services__text_subtext2 {
    width: 100%;
    text-align: center;
  }
  .services__links_link {
    max-width: 100%;
  }
  .services__links_link:hover img {
    margin-top: -90px;
  }
  .services__links_link:hover p {
    margin-top: 35px;
  }
}

@media (max-width: 720px) {
  .feedback__img {
    background: none;
  }
}

@media (max-width: 560px) {
  .header__row {
    padding: 5px 10px 5px 10px;
  }
  .header-menu {
    right: 15px;
  }
  .menu__list {
    width: 100%;
    background-color: #0007;
    top: 97px;
    right: 0;
  }
  .menu__list a {
    color: coral;
    font-weight: 800;
    font-size: 16px;
    float: right;
  }
  .menu__list a:hover {
    color: azure;
    border-color: antiquewhite;
  }
  .popup {
    background: #0008;
    width: 100%;
    height: 100%;
  }
  .popup__content {
    top: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 85px;
    width: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__popup-close {
    top: -30px;
    font-size: 30px;
  }
  .about__slider.swiper-container {
    top: 80px;
    margin-bottom: 80px;
  }
  .about__slider.swiper-container .swiper-pagination {
    margin: 0;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .about__slider .slide__title {
    font-size: 28px;
    line-height: 28px;
    width: 220px;
    margin: 36px auto 93px;
  }
  .about__slider .slide__link {
    display: none;
  }
  .feedback__text {
    padding: 0 10px;
  }
  .feedback__text p {
    width: 100%;
  }
  .feedback__modal_content {
    width: 270px;
    -webkit-box-shadow: 0 0 10px 2px #fff9;
            box-shadow: 0 0 10px 2px #fff9;
  }
  .feedback__modal_content input {
    display: block;
    padding: 9px 18px;
  }
  .feedback__modal_content textarea {
    padding: 8px;
    width: 216px;
    font-size: 14px;
  }
  .feedback__modal_content .feedback__button {
    font-size: 16px;
    width: 100px;
    height: 25px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px #fff;
            box-shadow: 0px 1px 1px #fff;
  }
  .feedback__modal_content .feedback__button:active {
    width: 90px;
    font-size: 15px;
  }
  .feedback__modal_content .feedback__exit {
    top: -35px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    color: red;
    font-size: 26px;
    width: 30px;
    height: 30px;
  }
  .services__text_subtext {
    margin: 76px 5px 73px;
  }
  .services__links_link {
    max-width: 60%;
    margin: 0 auto;
  }
  .services__links_link:hover img {
    margin-top: -145px;
  }
  .services__links_link:hover p {
    margin-top: -20px;
  }
}
