@media (max-width: 1580px) {
   .feedback__img {
      left: 14%;
   }
   .services__links_link {
      img {
         margin-top: -16px;
      }
   }
   .services__links_link:hover {
      img {
         margin-top: -210px;
      }
      p {
         margin-top: -80px;
      }
   }
}
@media (max-width: 1350px) {
   //header
   .header__row {
      padding: 15px 42px 15px 46px;
   }
   .header-menu {
      right: 44px;
   }
   .menu__list {
      right: 105px;
   }
   //about
   .about__slider .slide__title {
      font-size: 84px;
      line-height: 84px;
      width: 588px;
      margin: 101px auto 29px;
   }
   .about__slider .slide__text {
      font-size: 18px;
      line-height: 20px;
      width: 587px;
   }
   .about__slider {
      .swiper-button-prev::after,
      .swiper-button-next::after {
         width: 56px;
         height: 56px;
      }
      .swiper-button-next,
      .swiper-button-prev {
         right: 15px;
      }
      .swiper-pagination-bullet {
         background-color: #2b4074;
      }
      .swiper-pagination-bullet-active {
         border-color: #fff9;
         background-color: transparent;
      }
   }
   //feedback
   .feedback__text {
      margin: 40px 0;
      h1 {
         font-size: 18px;
         line-height: 18px;
      }
      p {
         width: 450px;
         font-size: 14px;
         line-height: 16px;
      }
   }
   .feedback__img {
      left: 12%;
      bottom: 15%;
      width: 20%;
      height: 60%;
   }
   //services
   .services__row {
      flex-direction: column;
   }
   .services__text {
      width: 100%;
   }
   .services__text_title {
      text-align: center;
   }
   .services__text_subtext {
      white-space: nowrap;
      max-width: 100%;
      &::after {
         width: 110px;
      }
   }
   .services__text_subtext2 {
      width: 610px;
      margin-bottom: 28px;
   }
   .services__links {
      width: 100%;
      max-width: 100%;
   }
   //team
   .team {
      padding: 80px 15px;
   }
   .team__row {
      column-gap: 60px;
   }
   .team__image {
      max-width: 401px;
   }
   .team__text_title {
      &::after {
         bottom: -15px;
         width: 100px;
      }
   }
   .team__text_article {
      margin: 0 0 19px 0;
      max-width: 523px;
   }
}
@media (max-width: 900px) {
   //header
   .header__row {
      padding: 15px 44px 15px 61px;
   }
   .header-menu {
      right: 41px;
   }
   .menu__list {
      right: 90px;
      a {
         font-size: 16px;
         & + a {
            margin-left: 0px;
         }
      }
   }
   //about
   .about__slider .slide__title {
      font-size: 60px;
      line-height: 60px;
      width: 550px;
      margin: 87px auto 25px;
   }
   .swiper-button-next,
   .swiper-button-prev {
      top: 204px;
   }
   .feedback__text {
      margin: 20px 0;
      h1 {
         font-size: 24px;
         line-height: 24px;
      }
      p {
         width: 400px;
         font-size: 16px;
         line-height: 18px;
      }
   }

   //services

   .links__row1,
   .links__row2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
   }
   .services__text_subtext2 {
      width: 678px;
      margin-bottom: 28px;
   }
   .services__links_link {
      max-width: 37.5%;
      &:hover {
         margin: 0;
      }
   }
   //team
   .team {
      padding: 40px 46px 108px 43px;
   }
   .team__row {
      column-gap: 34px;
   }
   .team__image {
      max-width: 240px;
   }
   .team__text_title {
      font-size: 36px;
      line-height: 38px;
      &::after {
         bottom: -20px;
         width: 88px;
      }
   }
   .team__text_article {
      margin: 7px 0 21px 0;
      max-width: 407px;
      line-height: 18px;
   }
   .team__button {
      position: absolute;
      left: 50%;
      transform: translateX(-65%);
   }
}
@media (max-width: 767px) {
   //header
   .header__row {
      padding: 15px 53px 15px 61px;
   }
   .header-menu {
      right: 30px;
   }
   .menu__list {
      right: 77px;
   }
   //about
   .about__slider .slide__title {
      margin: 50px auto 45px;
   }
   .about__slider .slide__text {
      display: none;
   }
   .feedback__row {
      flex-direction: column;
   }
   .feedback__text {
      margin: 40px 0;
      text-align: center;
      p {
         width: 560px;
      }
      br {
         display: none;
      }
   }
   .feedback__btn {
      margin-bottom: 40px;
   }
   //services
   .services__text {
      padding-left: 0px;
   }
   .services__text_subtext {
      white-space: normal;
      text-align: center;
      max-width: 100%;
      &::after {
         width: 110px;
         margin-left: 50%;
         transform: translateX(-50%);
      }
   }
   .services__text_subtext2 {
      width: 100%;
      text-align: center;
   }
   .services__links_link {
      max-width: 100%;
      &:hover {
         img {
            margin-top: -150px;
         }
         p {
            margin-top: -25px;
         }
      }
   }
   //team
   .team {
      padding: 40px 0px 104px 0px;
   }
   .team__row {
      flex-direction: column;
   }
   .team__image {
      max-width: 518px;
   }
   .team__text_title {
      font-size: 36px;
      line-height: 38px;
      text-align: center;
      &::after {
         left: 50%;
         transform: translateX(-50%);
      }
   }
   .team__text_article {
      margin: 40px 0 56px 0;
      max-width: 518px;
      font-size: 16px;
      text-align: center;
   }
   .team__button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
   }
}
@media (max-width: 720px) {
   .feedback__img {
      background: none;
   }
}
@media (max-width: 560px) {
   //hedaer
   .header__row {
      padding: 5px 10px 5px 10px;
   }
   .header-menu {
      right: 15px;
   }
   .menu__list {
      width: 100%;
      background-color: #0007;
      top: 97px;
      right: 0;
      a {
         color: coral;
         font-weight: 800;
         font-size: 16px;
         float: right;
         &:hover {
            color: azure;
            border-color: antiquewhite;
         }
      }
   }
   .popup {
      background: #0008;
      width: 100%;
      height: 100%;
   }
   .popup__content {
      top: 30%;
      transform: translateY(-50%);
      height: 85px;
      width: 200px;
      flex-direction: column;
   }
   .header__popup-close {
      top: -30px;
      font-size: 30px;
   }
   //about
   .about__slider.swiper-container {
      top: 80px;
      margin-bottom: 80px;
      .swiper-pagination {
         margin: 0;
      }
   }
   .swiper-button-next,
   .swiper-button-prev {
      display: none;
   }
   .about__slider .slide__title {
      font-size: 28px;
      line-height: 28px;
      width: 220px;
      margin: 36px auto 93px;
   }
   .about__slider .slide__link {
      display: none;
   }
   //feedback
   .feedback__text {
      padding: 0 10px;
      p {
         width: 100%;
      }
   }
   .feedback__modal_content {
      width: 270px;
      box-shadow: 0 0 10px 2px #fff9;
      input {
         display: block;
         padding: 9px 18px;
      }
      textarea {
         padding: 8px;
         width: 216px;
         font-size: 14px;
      }
      .feedback__button {
         font-size: 16px;
         width: 100px;
         height: 25px;
         border-radius: 3px;
         box-shadow: 0px 1px 1px #fff;
         &:active {
            width: 90px;
            font-size: 15px;
         }
      }
      .feedback__exit {
         top: -35px;
         right: 50%;
         transform: translateX(50%);
         color: red;
         font-size: 26px;
         width: 30px;
         height: 30px;
      }
   }
   //services
   .services__text_subtext {
      margin: 76px 5px 73px;
   }
   .services__text_subtext2 {
   }
   .services__links_link {
      width: 60%;
      margin: 0 auto;
      &:hover {
         img {
            margin-top: -145px;
         }
         p {
            margin-top: -20px;
         }
      }
   }
   //team
   .team {
      padding: 20px 0px 100px 0px;
   }
   .team__image {
      max-width: 280px;
   }
   .team__text_title {
      font-size: 24px;
      &::after {
         width: 45px;
      }
   }
   .team__text_article {
      margin: 23px 0 84px 0;
      max-width: 280px;
   }
}
