@import "_normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}

//  header

.header {
   position: fixed;
   top: 0;
   background-color: #2b4074;
   width: 100%;
   z-index: 999;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 150px 15px 61px;
}
.header__logo {
   transition: 0.1s;
   filter: brightness(85%);
   img {
      object-fit: cover;
      object-position: center;
      width: 100%;
   }
   &:hover {
      filter: brightness(100%);
   }
}

.header-menu {
   display: block;
   position: absolute;
   right: 150px;
   top: 50%;
   transform: translateY(-50%);
   margin: 0;
   padding: 0;
   width: 40px;
   height: 40px;
   border-radius: 3px;
   box-shadow: none;
   border: none;
   cursor: pointer;
   filter: brightness(95%);
   &:hover {
      filter: brightness(100%);
   }
   &:focus {
      outline: none;
   }
   span {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
      right: 18px;
      height: 4px;
      width: 21px;
      background-color: #2b4074;
      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         left: 0px;
         height: 4px;
         width: 100%;
         background-color: #2b4074;
      }
      &::before {
         top: -7.5px;
      }
      &::after {
         bottom: -7.5px;
      }
   }
}
.menu-animated {
   background-color: #fff;
   span {
      transition: background 0s 0.2s;
   }
}

.menu-animated span::before,
.menu-animated span::after {
   transition-duration: 0.2s, 0.2s;
   transition-delay: 0s, 0.3s;
}
.menu-animated span::before {
   transition-property: transform, top;
}
.menu-animated span::after {
   transition-property: transform, bottom;
}
.menu-animated.active {
   background: wheat;
}
.menu-animated.active span {
   background: none;
   transition: 0s;
}
.menu-animated.active span::before {
   top: 0;
   transform: rotate(45deg);
}
.menu-animated.active span::after {
   bottom: 1px;
   transform: rotate(-45deg);
}
.menu-animated.active span::before,
.menu-animated.active span::after {
   transition-delay: 0.3s, 0s;
   height: 3px;
}

.menu__list {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 230px;
   height: 0px;
   overflow: hidden;
   transition: all 0.5s;
   a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.7px;
      font-size: 18px;
      transition: all 0.2s;
      border: 1px solid transparent;
      padding: 5px;
      margin-top: 2px;
      display: inline-block;
      &:hover {
         border-color: lightblue;
         color: wheat;
      }
      & + a {
         margin-left: 20px;
      }
   }
   &.nav-active {
      height: 35px;
      visibility: visible;
   }
}

.popup {
   margin-top: -1500px;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100vh;
   background: #0001;
   z-index: 1000;
   display: flex;
   justify-content: center;
}
.popup__content {
   margin-top: 30px;
   width: 300px;
   height: 40px;
   background: wheat;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 0 5px 3px #fff;
   border-radius: 5px;
   a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.4px;
      &:hover {
         color: #2b407e;
      }
   }
}

// about

.about__slider.swiper-container {
   width: 100%;
   height: 100%;
   position: relative;
   top: 100px;
}
.about__slider.swiper-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 0;
}
.about__slider .swiper-slide {
   background: url("/images/about-bg.jpg") no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   color: #fff;
   text-align: center;
}
.about__slider .slide__title {
   font-family: Roboto Condensed;
   font-weight: normal;
   font-size: 96px;
   line-height: 96px;
   letter-spacing: 2px;
   width: 513px;
   margin: 107px auto 18px;
}
.about__slider .slide__text {
   font-family: Roboto Condensed;
   font-weight: normal;
   font-size: 24px;
   line-height: 26px;
   width: 886px;
   margin: 0 auto;
}
.about__slider .slide__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 50px;
   margin: 28px auto 213px;
   background: #2b4074;
   border-radius: 3px;
   text-decoration: none;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 0;
      background: cornsilk;
      transition: all 0.3s;
   }
   &:hover::before {
      height: 100%;
   }
   &:hover span {
      color: #000;
   }
   span {
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      color: #f9f6e5;
      z-index: 2;
      transition: all 0.4s;
   }
}
@import "media.scss";
