@import "_normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
   font-family: "Roboto", sans-serif;
}

//  header

.header {
   position: fixed;
   background-color: #2b4074;
   width: 100%;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 150px 15px 61px;
}
.header__logo {
   transition: 0.2s;
   img {
      object-fit: cover;
      object-position: center;
      width: 100%;
   }
   &:hover {
      opacity: 0.8;
   }
}
.header__menu {
   cursor: pointer;
   width: 40px;
   height: 40px;
   background: #ffffff;
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   span {
      width: 23px;
      height: 2px;
      background: #2b4074;
      position: absolute;
      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         width: 23px;
         height: 2px;
         background: #2b4074;
      }
      &::before {
         bottom: -6px;
      }
      &::after {
         top: -5px;
      }
   }
}
