@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://unpkg.com/swiper/swiper-bundle.min.css");
@import "_normalize.scss";

body {
   font-family: "Roboto", sans-serif;
}
.container {
   max-width: 100%;
   margin: 0 auto;
   overflow: hidden;
}
//  header

.header {
   position: fixed;
   top: 0;
   background-color: #2b4074;
   width: 100%;
   z-index: 999;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 150px 15px 61px;
}
.header__logo {
   transition: 0.1s;
   filter: brightness(95%);
   img {
      object-fit: cover;
      object-position: center;
      width: 100%;
   }
   &:hover {
      filter: brightness(100%);
   }
}

.header-menu {
   display: block;
   position: absolute;
   right: 150px;
   top: 50%;
   transform: translateY(-50%);
   margin: 0;
   padding: 0;
   width: 40px;
   height: 40px;
   border-radius: 3px;
   box-shadow: none;
   border: none;
   cursor: pointer;
   filter: brightness(95%);
   &:hover {
      filter: brightness(100%);
   }
   &:focus {
      outline: none;
   }
   span {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      transform: translateX(-50%);
      right: 18px;
      height: 4px;
      width: 21px;
      background-color: #2b4074;
      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         left: 0px;
         height: 4px;
         width: 100%;
         background-color: #2b4074;
      }
      &::before {
         top: -7.5px;
      }
      &::after {
         bottom: -7.5px;
      }
   }
}
.menu-animated {
   background-color: #fff;
   span {
      transition: background 0s 0.2s;
   }
}

.menu-animated span::before,
.menu-animated span::after {
   transition-duration: 0.2s, 0.2s;
   transition-delay: 0s, 0.3s;
}
.menu-animated span::before {
   transition-property: transform, top;
}
.menu-animated span::after {
   transition-property: transform, bottom;
}
.menu-animated.active {
   background: wheat;
}
.menu-animated.active span {
   background: none;
   transition: 0s;
}
.menu-animated.active span::before {
   top: 0;
   transform: rotate(45deg);
}
.menu-animated.active span::after {
   bottom: 1px;
   transform: rotate(-45deg);
}
.menu-animated.active span::before,
.menu-animated.active span::after {
   transition-delay: 0.3s, 0s;
   height: 3px;
}

.menu__list {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 230px;
   height: 0px;
   overflow: hidden;
   transition: all 0.5s;
   a {
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.7px;
      font-size: 18px;
      transition: all 0.2s;
      border: 1px solid transparent;
      padding: 5px;
      margin-top: 2px;
      display: inline-block;
      &:hover {
         border-color: lightblue;
         color: wheat;
      }
      & + a {
         margin-left: 20px;
      }
   }
   &.nav-active {
      height: 35px;
      visibility: visible;
   }
}

.popup {
   margin-top: -1500px;
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1000;
   display: flex;
   justify-content: center;
}
.header__popup_phone,
.header__popup_mail {
   margin-left: 20px;
   position: relative;
}
.header__popup_phone::before,
.header__popup_mail::before {
   content: "";
   position: absolute;
   top: -5px;
   left: -35px;
   width: 90px;
   height: 30px;
}
.header__popup_phone::before {
   background-image: url("../images/icons/phone\.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
.header__popup_mail::before {
   background-image: url("../images/icons/mail-send\.svg");
   background-repeat: no-repeat;
   background-size: contain;
}
.popup__content {
   margin-top: 10px;
   width: 370px;
   height: 80px;
   background: wheat;
   display: flex;
   justify-content: space-around;
   align-items: center;
   box-shadow: 0 0 5px 3px #fff;
   border-radius: 5px;
   position: relative;
   a {
      text-decoration: none;
      color: #000;
      font-size: 18px;
      font-weight: 500;
      transition: all 0.2s;
      &:hover {
         color: #2b407e;
      }
   }
}
.header__popup-close {
   position: absolute;
   right: -20px;
   top: -10px;
   color: red;
   font-size: 22px;
   cursor: pointer;
   transition: 0.2s;
   &:hover {
      font-weight: 800;
   }
}

// about

.about__slider.swiper-container {
   width: 100%;
   height: 100%;
   position: relative;
   top: 100px;
   margin-bottom: 100px;
}

.about__slider .swiper-slide {
   background-image: url("../images/about-bg\ .jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100%;
   color: #fff;
   text-align: center;
   span {
      display: block;
   }
}
.about__slider .slide__title {
   font-family: Roboto Condensed;
   font-weight: normal;
   font-size: 96px;
   line-height: 96px;
   letter-spacing: 2px;
   width: 513px;
   margin: 107px auto 18px;
}
.about__slider .slide__text {
   font-family: Roboto Condensed;
   font-weight: normal;
   font-size: 24px;
   line-height: 26px;
   width: 886px;
   margin: 0 auto;
}
.about__slider .slide__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 200px;
   height: 50px;
   margin: 28px auto 213px;
   background: #2b4074;
   border-radius: 3px;
   text-decoration: none;
   position: relative;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 0;
      background: cornsilk;
      transition: all 0.3s;
   }
   &:hover::before {
      height: 100%;
   }
   &:hover span {
      color: #000;
   }
   span {
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      color: #f9f6e5;
      z-index: 2;
      transition: all 0.4s;
   }
}
.about__slider {
   .swiper-button-prev::after,
   .swiper-button-next::after {
      position: absolute;
      width: 70px;
      height: 70px;
      background: #2b4074;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 20px;
      font-weight: 800;
   }
   .swiper-button-prev.swiper-button-disabled,
   .swiper-button-next.swiper-button-disabled {
      opacity: 1;
      &::after {
         background-color: #f9f6e5;
         color: #929292;
      }
   }
   .swiper-button-next,
   .swiper-button-prev {
      right: 21px;
   }
   .swiper-button-prev {
      left: 10px;
      left: auto;
      top: 260px;
   }
   .swiper-pagination {
      margin-bottom: 78px;
   }
   .swiper-pagination-bullet {
      background-color: #fff;
      opacity: 1;
      border: 1px solid transparent;
      transition: 0.3s;
      width: 10px;
      height: 10px;
   }
   .swiper-pagination-bullet-active {
      background-color: transparent;
      border-color: #fff;
   }
}

//feedback

.feedback {
   background: #2b407e;
   color: #fff;
   overflow: hidden;
}
.feedback__row {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.feedback__text {
   margin: 57px 0;
   h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
   }
   p {
      width: 550px;
      font-weight: 300;
      font-size: 16px;
      line-height: 18px;
   }
}
.feedback__btn {
   width: 200px;
   height: 50px;
   top: 71px;
   background: #f9f6e5;
   border: none;
   cursor: pointer;
   border-radius: 3px;
   position: relative;
   top: 50%;
   z-index: 2;
   &:focus {
      outline: none;
   }
   span {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: #2b407e;
      transition: all 0.5s;
   }
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgb(136, 208, 136);
      transition: all 0.4s;
      border-radius: 3px;
      z-index: -1;
   }
   &:hover::before {
      width: 100%;
   }
   &:hover span {
      color: #f9f6e5;
      letter-spacing: 0.3px;
      font-size: 19px;
   }
}
.feedback__modal {
   visibility: hidden;
   opacity: 0;
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: #0009;
   z-index: 999;
   display: flex;
   justify-content: center;
   align-items: center;
}
.feedback__modal_content {
   position: relative;
   width: 300px;
   height: 285px;
   background: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 20px 3px #fff9;
   input {
      display: block;
      padding: 9px 35px;
      border: 1px dotted #0009;
      margin: 10px auto;
      &::-webkit-input-placeholder {
         color: #6669;
      }
      &:focus {
         outline: none;
      }
   }
   textarea {
      padding: 10px 10px;
      resize: none;
      width: 233px;
      display: block;
      margin: 0px auto;
      text-align: center;
      height: 100px;
      font-size: 14px;
      border: 1px solid #0003;
      &::-webkit-input-placeholder {
         color: #6667;
      }
      &:focus {
         outline: none;
      }
   }
   .feedback__button {
      display: block;
      margin: 8px auto;
      font-size: 18px;
      background: brown;
      color: #fff;
      letter-spacing: 0.6px;
      width: 120px;
      height: 30px;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 1px 1px #fff;
      cursor: pointer;
      &:active {
         width: 110px;
         font-size: 17px;
         letter-spacing: 0;
         box-shadow: none;
      }
      &:focus {
         outline: none;
      }
   }
   .feedback__exit {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -30px;
      right: -33px;
      color: darkred;
      font-size: 30px;
      width: 35px;
      height: 35px;
      background-color: #fff;
      opacity: 0.7;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
         opacity: 1;
      }
   }
}
.feedback__img {
   position: absolute;
   left: 18%;
   bottom: 8%;
   background-image: url("../images/wooman.png");
   background-repeat: no-repeat;
   background-size: contain;
   width: 25%;
   height: 70%;
}

//services

.services__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.services__text {
   flex: 0 1 33%;
   padding-left: 62px;
}
.services__text_title {
   font-family: Roboto Condensed;
   font-size: 48px;
   line-height: 56px;
   color: #2b4074;
   margin-top: 90px;
}
.services__text_subtext {
   font-size: 24px;
   line-height: 26px;
   color: #4a4a4a;
   max-width: 393px;
   position: relative;
   margin: 76px 0 73px;
   &::after {
      content: "";
      position: absolute;
      width: 98.74px;
      height: 8px;
      left: 0px;
      bottom: -30px;
      background: #2b4074;
   }
}
.services__text_subtext2 {
   font-size: 18px;
   line-height: 24px;
   color: #797979;
   width: 351px;
   margin-bottom: 134px;
}
.services__links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex: 0 1 67%;
}
.links__row1,
.links__row2 {
   display: flex;
}
.services__links_link {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 255px;
   width: 32%;
   padding: 39px;
   border: 1px solid #f9f6e5;
   font-size: 16px;
   line-height: 19px;
   font-weight: bold;
   transition: all 0.3s;
   position: relative;
   &:hover {
      border: 4px groove #2b4074;
      margin: auto;
      padding: 25px;
      cursor: help;
      img {
         margin-top: -165px;
         transition: all 0.5s;
      }
      p {
         margin-top: -20px;
         transition: all 0.5s;
      }
      span {
         position: static;
         opacity: 1;
         transition: all 1.3s;
      }
      a {
         visibility: visible;
         opacity: 1;
         transition: all 0.5s;
      }
   }
   img {
      min-width: 64px;
      min-height: 64px;
      object-position: center;
      position: absolute;
   }
   p {
      font-family: Roboto Condensed;
      letter-spacing: 2px;
      color: #4a4a4a;
      position: absolute;
      margin-top: 50%;
      transition: 0.2s;
      width: 189px;
   }
   span {
      font-weight: 500;
      line-height: 18px;
      color: #9b9b9b;
      margin: 21px 0 18px;
      display: block;
      margin-top: 50%;
      opacity: 0;
   }
   a {
      font-family: Roboto Condensed;
      letter-spacing: 2px;
      color: #2b4074;
      text-decoration: none;
      position: relative;
      visibility: hidden;
      opacity: 0;
      &:hover {
         letter-spacing: 0.8px;
         color: #634b86;
      }
      &:active {
         letter-spacing: 2px;
      }
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         right: -20px;
         width: 14px;
         height: 10px;
         background: url("../images/icons/right-arrow.png") no-repeat;
         background-size: cover;
      }
   }
}

//projects

.projects {
   padding: 80px 0;
   background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}
.projects__title {
   text-align: center;
   font-family: Roboto Condensed;
   font-weight: normal;
   font-size: 48px;
   line-height: 56px;
   color: #ffffff;
   position: relative;
   &::after {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 8px;
      background-color: #fff;
   }
}
.projects__row {
   max-width: 1141px;
   margin: 80px auto 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   row-gap: 30px;
   column-gap: 21px;
}
.projects__link {
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &:hover a {
      visibility: visible;
      opacity: 1;
   }
   a {
      position: absolute;
      transform: translateX(-72%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      margin-bottom: 40px;
      & + a {
         margin-left: 80px;
      }
   }
   img {
      max-width: 100%;
      height: 100%;
   }
   p {
      text-align: center;
      font-family: Roboto Condensed;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2px;
      color: #2b4074;
   }
   &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      width: 243px;
      height: 217px;
      margin: auto;
      background: #f9f6e5;
      opacity: 0;
      border-radius: 4px;
      visibility: hidden;
      transition: 0.5s;
   }
   &:hover::before {
      visibility: visible;
      opacity: 0.8;
   }
}
@import "../css/media.scss";
